<div class="detail-general pwadetail"
     style="background-color: {{pwa.backgroundColor}};
             color: {{contrastColor pwa.backgroundColor}};">
    <div class="pwadetail-header">             
      <div class="pwadetail-logo">
      <a href="{{pwa.absoluteStartUrl}}" target="_blank">
        {{#if pwa.iconUrl}}
        <div style="background-color: {{pwa.backgroundColor}}">
          <img src="{{pwa.iconUrl}}" width="128" height="128"/>
        </div>
        {{else}}
        <svg width="128" height="128">
          <rect width="100%" height="100%" stroke-width="4" fill="{{pwa.backgroundColor}}" />
          <text x="50%" y="50%" fill="{{contrastColor pwa.backgroundColor}}" alignment-baseline="middle" text-anchor="middle" font-size="128px">{{firstLetter pwa.name}}</text>
        </svg>
        {{/if}}
        </a>
      </div>
      <h3><a href="{{pwa.absoluteStartUrl}}" style="color: {{contrastColor pwa.backgroundColor}}" target="_blank">{{pwa.name}}</a></h3>
      <div class="detail-description"><a href="{{pwa.absoluteStartUrl}}" style="color: {{contrastColor pwa.backgroundColor}}" target="_blank">{{pwa.absoluteStartUrl}}</a></div>
    </div>
    {{#if pwa.description}}
      <div class="detail-description">{{pwa.description}}</div>
    {{/if}}
    <div class="dates">Added {{moment pwa.created}}, Updated {{moment pwa.updated}}</div>
</div>
