<!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->

{{#unless contentOnly}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> header}}
    <div class="page-holder">
      <main class="page">
{{/unless}}      
        <div class="toolbar">
        <a id="add" href="/pwas/add">
            <button id="pwaAdd" class="button-primary button offline-aware gulliver-content-only signin-aware">
            Add PWA
            </button>
        </a>
        </div>

        <div class="items">
            {{#each pwas}}
            <a id="{{id}}" class="item card-pwa offline-aware gulliver-content-only box-shadow" href="/pwas/{{id}}" style="background-color: {{backgroundColor}}; color:{{contrastColor backgroundColor}}">
            {{#if iconUrl64}}
                <img class="pwa-icon" src="{{iconUrl64}}" srcset="{{iconUrl64}} 1x, {{iconUrl128}} 2x" width="64" height="64" alt="logo for {{displayName}}"/>
            {{else}}
                <svg class="pwa-icon" width="64" height="64">
                <rect width="64" height="64" stroke-width="4" fill="{{backgroundColor}}" />
                <text x="32" y="32" fill="{{contrastColor backgroundColor}}" alignment-baseline="middle" text-anchor="middle" font-size="32px">{{firstLetter displayName}}</text>
                </svg>
            {{/if}}
            <div class="pwa-name">{{{truncate displayName 28}}}</div>
            {{> score }}
            </a>
            {{/each}}
        </div>

        <div class="pager">
        {{#if hasPreviousPage}}
          {{#if sortOrder}}
            <a class="previous gulliver-content-only offline-aware" href="?sort={{sortOrder}}{{#if previousPageNumber}}&page={{previousPageNumber}}{{/if}}">
          {{else}}
            {{#if previousPageNumber}}
            <a class="previous gulliver-content-only offline-aware" href="?page={{previousPageNumber}}">
            {{else}}
            <a class="previous gulliver-content-only offline-aware" href="/">
            {{/if}}
          {{/if}}
              {{> chevron_left }}
            </a>
        {{/if}}
        {{#if hasNextPage}}
          {{#if sortOrder}}
            <a class="next gulliver-content-only offline-aware" href="?sort={{sortOrder}}&page={{nextPageNumber}}">
          {{else}}
            <a class="next gulliver-content-only offline-aware" href="?page={{nextPageNumber}}">
          {{/if}}
              {{> chevron_right }}
            </a>
        {{/if}}
        </div>
{{#unless contentOnly}}
      </main>
      <div class='page-loader'>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
{{/unless}}
