<!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gulliver - PWA Directory</title>
    {{> head}}
  </head>
  <body>
    {{> header}}

    <div class="section-title">PWAs</div>
    <div class="container">
      <div class="button green gulliver-online-aware">
        <a href="/pwas/add"><i class="fa fa-plus-square" aria-hidden="true"></i> Add PWA</a>
      </div>

      <div class="items">
        {{#each pwas}}
        <div class="pwabox item gulliver-online-aware" style="background-color: {{backgroundColor}}">
          <a href="/pwas/{{id}}" style="color:{{contrastColor backgroundColor}}">
            <div class="pwabox-left">
              {{#if iconUrl}}
                <img src="{{iconUrl}}" width="64" height="64"/>
              {{else}}
              <svg width="64" height="64">
                <rect width="64" height="64" stroke-width="4" fill="{{backgroundColor}}" />
                <text x="32" y="32" fill="{{contrastColor backgroundColor}}" alignment-baseline="middle" text-anchor="middle" font-size="32px">{{firstLetter name}}</text>
              </svg>
              {{/if}}
              </div>
              <div class="pwabox-body">
              <h4>{{name}}</h4>
            </div>
          </a>
        </div>
        {{/each}}
      </div>

      {{#unless pwas}}
      <p>No PWAs found.</p>
      {{/unless}}
      
      <nav>
        <ul class="pager">
          {{#if hasPreviousPage}}          
          <li><a href="?page={{previousPageNumber}}">Previous Page</a></li>
          {{/if}}          

          {{#if hasNextPage}}          
          <li><a href="?page={{nextPageNumber}}">Next Page</a></li>
          {{/if}}          
        </ul>
      </nav>
    </div>

    {{> footer}}
  </body>
</html>
