<!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> header}}

    <div class="section-title">
      <a class="tab {{#if showNewest}}activetab{{/if}}" href="/?sort=newest">New</a>
      <a class="tab {{#if showScore}}activetab{{/if}}" href="/?sort=score">Score</a>
    </div>
    <main>
      <div class="toolbar">
        <button id="pwaAdd" type="submit" class="button add accent-color gulliver-signedin-aware gulliver-online-aware" onlick="#">
          <a href="/pwas/add">Add PWA</a>
        </button>
      </div>

      <div class="items">
        {{#each pwas}}
          <a class="item card card-pwa gulliver-online-aware" href="/pwas/{{id}}" style="background-color: {{backgroundColor}}; color:{{contrastColor backgroundColor}}">
            {{#if iconUrl64}}
              <img class="pwa-icon" src="{{iconUrl64}}" srcset="{{iconUrl64}} 1x, {{iconUrl128}} 2x" width="64" height="64" alt="logo for {{name}}"/>
            {{else}}
              <svg class="pwa-icon" width="64" height="64">
                <rect width="64" height="64" stroke-width="4" fill="{{backgroundColor}}" />
                <text x="32" y="32" fill="{{contrastColor backgroundColor}}" alignment-baseline="middle" text-anchor="middle" font-size="32px">{{firstLetter name}}</text>
              </svg>
            {{/if}}
            <div class="pwa-name">{{name}}</div>
            {{> score }}
          </a>
        {{/each}}
      </div>

      {{#unless pwas}}
      <p>No PWAs found.</p>
      {{/unless}}

      <div class="pager">
        {{#if hasPreviousPage}}
        <a class="previous" href="?sort={{sortOrder}}&page={{previousPageNumber}}">
          {{> chevron_left }}
        </a>
        {{/if}}
        {{#if hasNextPage}}
        <a class="next" href="?sort={{sortOrder}}&page={{nextPageNumber}}">
          {{> chevron_right }}
        </a>
        {{/if}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>
