<!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->
 
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gulliver - PWA Directory</title>
        {{> head}}
    </head>
    <body>
        {{> header}}    
        <div class="container">
            <h3>PWAs</h3><a href="/pwas/add" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i><span> Add PWA</span></a>
            {{#each pwas}}
            <div class="media">
                <a href="/pwas/{{id}}">
                    <div class="media-left">
                        <svg width="64" height="64">
                            <rect width="64" height="64" stroke-width="4" fill="{{backgroundColor}}" />
                            <text x="32" y="32" fill="{{fgcolor}}" alignment-baseline="middle" text-anchor="middle" font-size="32px">{{firstletter}}</text>                            
                        </svg>                
                    </div>
                    <div class="media-body">
                        <h4>{{name}}</h4>
                        <h5>{{manifestUrl}}</h5>
                        <p>{{startUrl}}</p>
                    </div>
                </a>
            </div>
            {{/each}}

            {{#unless pwas}}
                <p>No PWAs found.</p>
            {{/unless}}

            {{#if nextPagetoek}}
                <nav>
                    <ul class="pager">
                        <li><a href="?pageToken=#{encodeURIComponent(nextPageToken)}">More</a></li>
                    </ul>
                </nav>
            {{/if}}       
        </div>
        {{> footer}}
    </body>
</html>