<!-- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->
 
<div style="text-align: center; vertical-align: middle; background-color:{{pwa.backgroundColor}}; color:{{contrastColor pwa.backgroundColor}}; padding: 16px;">
<a href="{{pwa.absoluteStartUrl}}" target="_blank" rel="noopener">
  {{#if pwa.iconUrl128}}
    <img src="{{pwa.iconUrl128}}" width="128" height="128"/>
  {{/if}}
</a>
<a href="{{pwa.absoluteStartUrl}}" target="_blank" rel="noopener" style="color:{{contrastColor pwa.backgroundColor}}; text-decoration: none;"><h2>{{pwa.displayName}}</h2></a>
<div>{{pwa.description}}</div>
</div>

<a href="https://pwa-directory.appspot.com/pwas/{{pwa.id}}" target="_blank" rel="noopener">
  <img style="vertical-align:middle" src="https://pwa-directory.appspot.com/favicons/android-chrome-36x36.png">
  <span style="">Open in PWA Directory</span>
</a>
